*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(232, 240, 243);
    color: #050505;
    width: 60vh;
    height: 55vh;
    border-radius: 5vh;
}

.form-floating{
    margin: 1vh;
    padding: 1vh;
}

.heading{
    margin-top: 15vh;
    padding: 3vh 6vh 3vh 6vh;
    font-size: 7vh;
}

.newuser-btn, .signin-btn{
    border-radius: 1vh;
    padding: 1vh;
    margin: 1vh;
    background-color:rgb(13, 13, 14);
    color: white;
}